---
import BaseLayout from '../layouts/BaseLayout.astro';

---
<BaseLayout title="Simulasi Banjir 3D - Fitur">
  <main>  
    <div id="cesiumContainer"></div>
    
    <button id="raiseGeoJsonButton" class="control-button"><ion-icon name="water-outline"></ion-icon> Simulasi Banjir</button>
      
    <div id="rainControls" style="display: none;">
        <div class="input-row">
            <div class="input-group">
                <label for="rainInput"><ion-icon name="cloudy-outline"></ion-icon> Curah Hujan (mm):</label>
                <input type="number" id="rainInput" min="1" max="500" value="100" step="1">
            </div>
            <div class="input-group">
                <label for="rainDuration"><ion-icon name="time-outline"></ion-icon> Durasi (jam):</label>
                <input type="number" id="rainDuration" min="1" max="24" value="2" step="0.5">
            </div>
        </div>
        
        <div class="button-row">
          <button id="applyRain"><ion-icon name="play"></ion-icon> Mulai Simulasi</button>
          <button id="cancelRain"><ion-icon name="stop"></ion-icon> Hentikan</button>
        </div>
    </div>
    
    <script>
      import { initializeCesiumApp } from '../js/mainCesium.js';
      import { initializePage } from '../js/utils/pageUtils.js';
      
      // Initialize dengan error handling yang lebih baik
      initializePage(initializeCesiumApp, 'Simulasi Banjir 3D');
    </script>
    
    <style>
        #cesiumContainer {
            width: 100%;
            height: 100vh;
            display: block;
        }
    </style>
  </main>
</BaseLayout>