---
export interface Props {
    title: string;
}
const { title } = Astro.props;
---
<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
        <link rel="stylesheet" href="/src/style/global.css">
        <script type="module" is:inline src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"  integrity="sha384-1QwQJzQpQpV1kQv7lQwQJzQpQpV1kQv7lQwQJzQpQpV1kQv7lQwQJzQpQpV1kQv7l" crossorigin="anonymous"></script>
        <script nomodule is:inline src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"  integrity="sha384-2QwQJzQpQpV1kQv7lQwQJzQpQpV1kQv7lQwQJzQpQpV1kQv7lQwQJzQpQpV1kQv7l" crossorigin="anonymous"></script>
    <body>
        <slot /> 
    </body>
</html>